img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", "sans-serif";
  background-color: $black-100;
  color: $white;
  max-width: 1920px;
}
