.header {
  width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: $white 1px solid;
  img {
    width: 245px;
    height: 40px;
  }
  .menu-list {
    display: flex;
    li {
      padding-right: 20px;
    }
  }
}

.banner {
  width: 1296px;
  margin: 0 auto;
  h2 {
    color: $white;
    font-size: $font-xxl;
    line-height: 144px;
    font-weight: 900;
  }
  a {
    text-decoration: none;
    width: 160px;
    display: block;
    font-size: 20px;
    color: $white;
    font-weight: 900;
    border: $white 1px solid;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 40px;
    border-radius: 16px;
  }
  .banner-animation {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 180px;
    img {
      width: 180px;
      height: 180px;
    }
  }
}

.service {
  width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  h2 {
    font-size: $font-m;
    font-weight: 900;
  }
  h3 {
    width: 856px;
    font-size: $font-l;
    font-weight: 900;
  }
}

.service-list {
  width: 1296px;
  margin: 0 auto;
  .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
    li {
      width: 416px;
      padding: 40px;
      border: $black-80 1px solid;
      border-radius: 16px;
      img {
        padding-bottom: 20px;
      }
      h3 {
        padding-bottom: 20px;
        font-size: $font-m;
        font-weight: 900;
      }
      p {
        padding-bottom: 20px;
        font-size: $font-s;
        font-weight: 400;
        line-height: 24px;
        color: $black-20;
      }
    }
  }
}

.partner {
  width: 1296px;
  margin: 0 auto;
  margin-bottom: 160px;
  h3 {
    font-size: $font-m;
    font-weight: 900;
    margin-bottom: 80px;
  }
  ul {
    display: flex;
    img {
      width: 160px;
      height: 40px;
    }
  }
}

.recommend {
  width: 1296px;
  margin: 0 auto;
  .recommend-card {
    display: flex;
    justify-content: space-between;
    li {
      width: 416px;
      padding: 40px;
      background-color: #ffffff14;
      border-radius: 16px;
      .recommend-star {
        margin-bottom: 22px;
      }
      p {
        font-size: $font-s;
        font-weight: 400;
        margin-bottom: 20px;
      }
    }
  }
}

.recommend-name {
  display: flex;
  align-items: center;
  img {
    margin-right: 16px;
    width: 48px;
    height: 48px;
  }
  h4 {
    font-size: $font-s;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 24px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.bg-white {
  background-color: #fff;
  border-radius: 160px;
  .tools {
    width: 1296px;
    margin: 0 auto;
    h2 {
      color: #000;
      font-size: $font-xl;
      font-weight: 900;
      padding-top: 160px;
      margin-bottom: 80px;
    }
    .search-bar {
      width: 1296px;
      height: 64px;
      background-color: $black-20;
      border-radius: 16px;
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      img {
        width: 17.5px;
        height: 17.5px;
        color: $black-60;
        margin-left: 40px;
        margin-right: 15px;
      }
      input {
        background: $black-20;
        border: none;
      }
    }
  }
}

.tools-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  .search-btn {
    width: 132px;
    display: flex;
    align-items: center;
    border: $black-20 1px solid;
    border-radius: 16px;
    a {
      color: $black-100;
      text-decoration: none;
      font-size: $font-s;
      font-weight: 400;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      margin-right: 15px;
    }
    img {
      width: 10.6px;
      height: 10.6px;
    }
  }
  ul {
    width: 544px;
    display: flex;
    justify-content: space-between;
    li {
      color: $black-60;
      font-size: $font-s;
      font-weight: 400;
    }
  }
  .search-btn2 {
    width: 164px;
  }
}
//---
.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item li {
  width: 412px;
  margin-bottom: 24px;
  color: $black-100;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  overflow: hidden; /*圖片超過li時隱藏*/
}

.item img:hover {
  transform: scale(1.2); /*滑鼠移過去圖片放大1.2倍*/
}

.img {
  overflow: hidden; /*避免圖片超過padding的間距*/
}

.item-name {
  size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.item-info {
  size: 14px;
  color: #525252;
  height: 42px;
}

.content,
.ai,
.tag {
  padding: 20px;
}

.content,
.ai {
  border-bottom: 1px solid #f2f2f2;
}

.ai,
.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ai-model {
  size: 16px;
  font-weight: bold;
}

.name,
.item-tag {
  size: 16px;
}
//---
