$primary-color: #f18724;
$surface-color: #f2efe7;
$black-100: #020202;
$black-80: #525252;
$black-60: #919191;
$black-40: #d1d1d1;
$black-20: #f2f2f2;
$white: #ffffff;
$font-xxl: 120px;
$font-xl: 80px;
$font-l: 48px;
$font-m: 32px;
$font-s: 16px;
