@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", "sans-serif";
  background-color: #020202;
  color: #ffffff;
  width: 1920px;
}

.header {
  width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: #ffffff 1px solid;
}
.header img {
  width: 245px;
  height: 40px;
}
.header .menu-list {
  display: flex;
}
.header .menu-list li {
  padding-right: 20px;
}

.banner {
  width: 1296px;
  margin: 0 auto;
}
.banner h2 {
  color: #ffffff;
  font-size: 120px;
  line-height: 144px;
  font-weight: 900;
}
.banner a {
  text-decoration: none;
  width: 160px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  font-weight: 900;
  border: #ffffff 1px solid;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 40px;
  border-radius: 16px;
}
.banner .banner-animation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 180px;
}
.banner .banner-animation img {
  width: 180px;
  height: 180px;
}

.service {
  width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.service h2 {
  font-size: 32px;
  font-weight: 900;
}
.service h3 {
  width: 856px;
  font-size: 48px;
  font-weight: 900;
}

.service-list {
  width: 1296px;
  margin: 0 auto;
}
.service-list .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.service-list .list li {
  width: 416px;
  padding: 40px;
  border: #525252 1px solid;
  border-radius: 16px;
}
.service-list .list li img {
  padding-bottom: 20px;
}
.service-list .list li h3 {
  padding-bottom: 20px;
  font-size: 32px;
  font-weight: 900;
}
.service-list .list li p {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f2f2f2;
}

.partner {
  width: 1296px;
  margin: 0 auto;
  margin-bottom: 160px;
}
.partner h3 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 80px;
}
.partner ul {
  display: flex;
}
.partner ul img {
  width: 160px;
  height: 40px;
}

.recommend {
  width: 1296px;
  margin: 0 auto;
}
.recommend .recommend-card {
  display: flex;
  justify-content: space-between;
}
.recommend .recommend-card li {
  width: 416px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.0784313725);
  border-radius: 16px;
}
.recommend .recommend-card li .recommend-star {
  margin-bottom: 22px;
}
.recommend .recommend-card li p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.recommend-name {
  display: flex;
  align-items: center;
}
.recommend-name img {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.recommend-name h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 24px;
}
.recommend-name p {
  font-size: 14px;
  font-weight: 400;
}

.bg-white {
  background-color: #fff;
  border-radius: 160px;
}
.bg-white .tools {
  width: 1296px;
  margin: 0 auto;
}
.bg-white .tools h2 {
  color: #000;
  font-size: 80px;
  font-weight: 900;
  padding-top: 160px;
  margin-bottom: 80px;
}
.bg-white .tools .search-bar {
  width: 1296px;
  height: 64px;
  background-color: #f2f2f2;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.bg-white .tools .search-bar img {
  width: 17.5px;
  height: 17.5px;
  color: #919191;
  margin-left: 40px;
  margin-right: 15px;
}
.bg-white .tools .search-bar input {
  background: #f2f2f2;
  border: none;
}

.tools-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.tools-search .search-btn {
  width: 132px;
  display: flex;
  align-items: center;
  border: #f2f2f2 1px solid;
  border-radius: 16px;
}
.tools-search .search-btn a {
  color: #020202;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-right: 15px;
}
.tools-search .search-btn img {
  width: 10.6px;
  height: 10.6px;
}
.tools-search ul {
  width: 544px;
  display: flex;
  justify-content: space-between;
}
.tools-search ul li {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
}
.tools-search .search-btn2 {
  width: 164px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item li {
  width: 412px;
  margin-bottom: 24px;
  color: #020202;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  overflow: hidden; /*圖片超過li時隱藏*/
}

.item img:hover {
  transform: scale(1.2); /*滑鼠移過去圖片放大1.2倍*/
}

.img {
  overflow: hidden; /*避免圖片超過padding的間距*/
}

.item-name {
  size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.item-info {
  size: 14px;
  color: #525252;
  height: 42px;
}

.content,
.ai,
.tag {
  padding: 20px;
}

.content,
.ai {
  border-bottom: 1px solid #f2f2f2;
}

.ai,
.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ai-model {
  size: 16px;
  font-weight: bold;
}

.name,
.item-tag {
  size: 16px;
}/*# sourceMappingURL=all.css.map */